

.HelloWorkMainArea {
  padding-top: 60px;
  display: flex;
  flex-flow: column;
  padding-left: 20px;
}

.ButtonArea {
  /* background-color: azure; */
  border-radius: 6px;
  padding-top: 20px;
}

.HelloWorkProgress{
  height: 100px;
  /* background-color: aliceblue; */
  display: flex;
  align-items: center;
  padding-left: 60px;
}

.HelloType{
  min-width: 400px;
  max-width: 400px;
  overflow: hidden;
  white-space: nowrap;
}

.HelloWhere{
  min-width: 300px;
  max-width: 300px;

}

.HelloLimit {
  overflow: hidden;
  white-space: nowrap;
}

.fulltime {
  min-width: 1100px;
  max-width: 100%;
}

.HelloWorkWindow table {
  border-collapse: collapse;  
}

.HelloWorkWindow td{
  border: 1px solid white;
  padding: 8px 12px;
}

.HelloLimitStatus {
  text-align: center;
  min-width: 70px;
  max-width: 70px;
}





.PDF-page-main {
  padding-top: 80px;
  padding-left: 40px;
  color: white;
}







.otp-modal-overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}


.otp-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.otp-input-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.HelloWorkNumStatus {
  color: white;
  display: flex;
  margin: 10px 0px;
  font-size: 20px;
  width: 400px;
  justify-content: space-between;
}
