

.HelloWorkMainArea {
  padding-top: 60px;
  display: flex;
  flex-flow: column;
  padding-left: 20px;
}

.ButtonArea {
  /* background-color: azure; */
  border-radius: 6px;
  padding-top: 20px;
}

.HelloWorkProgress{
  height: 100px;
  /* background-color: aliceblue; */
  display: flex;
  align-items: center;
  padding-left: 60px;
}

.HelloType{
  min-width: 400px;
  max-width: 400px;
  overflow: hidden;
  white-space: nowrap;
}

.HelloWhere{
  min-width: 300px;
  max-width: 300px;

}

.HelloLimit {
  overflow: hidden;
  white-space: nowrap;
}

.fulltime {
  min-width: 1100px;
  max-width: 100%;
}

.HelloWorkWindow table {
  border-collapse: collapse;  
}

.HelloWorkWindow td{
  border: 1px solid white;
  padding: 8px 12px;
}