.productRow{
  font-size: 18px;
  margin-right: 8px;
  padding-top: 60px;
}




.price-div {
  margin: 2px;
  padding: 4px;
  border: 1px solid black;
}

.productRow-tr input{
  font-size: 16px;
  padding: 4px;
}




.modalOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalOverlay.open {
  display: flex;
}

.modalContent {
  font-size: 16px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  min-width: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


.modalContent input{
  font-size: 16px;
  padding: 4px;
}

.Product-Bottom-button-area {
  display: flex;
  width: 100%;
  position: fixed;
  height: 60px;
  bottom: 0;
  z-index: 100;
  background-color: #34343c;
  align-items: center;
  justify-content: space-around;
}



.virtual-table-row {
  font-size: 16px;
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 8px;
  box-sizing: border-box;
  width: 1180px;
}

.virtual-table-row input {
  font-size: 16px;
}

.virtual-table-cell {
  font-size: 16px;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

.productRow-header {
  display: flex;
  font-size: 18px;
  margin-right: 8px;
  padding-top: 60px;
  color: white;
  width: 1180px;
}
.productRow-header div{
  display: flex;
  text-align: center;
  justify-content: center;
}





/* 各列の幅設定（例：flex or 固定幅） */
.cell-vendor {
  min-width: 160px;
  max-width: 160px;
}
.cell-code {
  min-width: 80px;
  max-width: 80px;
}
.cell-name {
  min-width: 300px;
  max-width: 300px;
  flex-shrink: 0;
}
.cell-price {
  min-width: 80px;
  max-width: 80px;
}
.cell-type {
  min-width: 160px;
  max-width: 160px;
}
.cell-switch {
  min-width: 80px;
  max-width: 80px;
  display: flex;
  justify-content: center;
}
.cell-dialog {
  min-width: 80px;
  max-width: 80px;
}
.cell-actions {
  min-width: 160px;
  max-width: 160px;
}


.virtual-table-row .cell-price {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 36px;
  background-color: white;
}

.detail-newprice {
  height: 34px;
  padding: 4px;
  display: flex;
  align-items: center;
  border: 1px solid black;
}

.new-price{
  width: 100%;
  display: flex;
  justify-content: space-between;
}


