table {
  border-collapse: collapse;
}


.uriage-main {
  color: white;
  padding-top: 80px;
  display: flex;
  flex-flow: column;
  padding-left: 20px;
}

.uriage th{
  white-space: nowrap;
  background-color: #696969;
}

.uriage td, .uriage th{
  border: 1px white solid;
  padding: 10px;
  min-width: 70px;
}


.uriage {
  padding: 20px;
}

.uriage-title {
  display: flex;
  width: 600px;
  justify-content: space-around;
  margin-left: 30px;
  align-items: center;
}

.all-total {
  font-size: 20px;

}